# Merge Flip Data for Tableau
This notebook merges the national and state data sets created by the other notebooks and engineers fields necessary for Tableau dashboards

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Import CSV Files

In [2]:
natl_file = '../data/pres_wins_by_election.csv'
natl_df = pd.read_csv(natl_file)
natl_df.head()

   Year          President Party  Flip
0  1789  George Washington     O     0
1  1792  George Washington     O     0
2  1796         John Adams     O     0
3  1800   Thomas Jefferson     O     0
4  1804   Thomas Jefferson     O     0

In [3]:
state_file = '../data/pres_wins_by_state.csv'
state_df = pd.read_csv(state_file)
state_df.head()

     State  Year Party  Flip
0  Alabama  1789   NaN     0
1  Alabama  1792   NaN     0
2  Alabama  1796   NaN     0
3  Alabama  1800   NaN     0
4  Alabama  1804   NaN     0

### Merge Data Sets

In [4]:
natl_df.drop('Flip', axis=1, inplace=True)
natl_df.rename(columns={'Party': 'President Party'}, inplace=True)
df = state_df.merge(natl_df, on='Year', how='inner')
df.rename(columns={'Party': 'Winning Party'}, inplace=True)
df.head()

        State  Year Winning Party  Flip          President President Party
0     Alabama  1789           NaN     0  George Washington               O
1      Alaska  1789           NaN     0  George Washington               O
2     Arizona  1789           NaN     0  George Washington               O
3    Arkansas  1789           NaN     0  George Washington               O
4  California  1789           NaN     0  George Washington               O

### Add Binary Columns for Winning Parties

In [5]:
bin_party_df = pd.get_dummies(df[['Winning Party']],
                              prefix='Winning Party',
                              columns=['Winning Party'],
                              prefix_sep=' ')
df = df.merge(bin_party_df, left_index=True, right_index=True)
df.head()

,State,Year,Winning Party,Flip,President,President Party,Winning Party D,Winning Party O,Winning Party R
0,Alabama,1789,NaN,0,George Washington,O,0,0,0
1,Alaska,1789,NaN,0,George Washington,O,0,0,0
2,Arizona,1789,NaN,0,George Washington,O,0,0,0
3,Arkansas,1789,NaN,0,George Washington,O,0,0,0
4,California,1789,NaN,0,George Washington,O,0,0,0

### Export DataFrame to CSV

In [6]:
output_file = '../data/state_flip_data.csv'
df.to_csv(output_file, index=False)